# MongoDB Connection String
# For local development: mongodb://localhost:27017/talenthub
# For production (Vercel): mongodb+srv://<db_username>:<db_password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

MONGODB_URI=mongodb://localhost:27017/talenthub

# Server Port
PORT=5001
